<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>StartUp | EO - Etron And Auto</title>
		<link href="http://www.bootcss.com/p/layoutit/css/bootstrap-combined.min.css" rel="stylesheet">
	<head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container-fluid">
								<a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a> <a class="brand" href="#">StartUp</a>
								<div class="nav-collapse collapse navbar-responsive-collapse">
									<ul class="nav">
										<li class="active">
											<a href="/">主页</a>
										</li>
										<li>
											<a href="/hr">招聘</a>
										</li>
										<li>
											<a href="/about">关于我们</a>
										</li><br />
									</ul>
									<ul class="nav pull-right">
										<br />
										<li class="divider-vertical">
										</li><br />
										
									</ul>
								</div>
								
							</div>
						</div>
						
					</div>
					
					<div class="hero-unit">
						<h2>
							自动驾驶
						</h2>
						<p>
							在自动驾驶模式下，自动驾驶能够实现车道线内辅助转向，在开启转向灯后自动变更车道，以及在主动巡航控制时自动调整车速。对电机功率、制动系统、以及转向系统的数字化一体控制，能够帮助车辆避免来自前方和侧方的碰撞，并防止车辆滑出路面。<span>自动驾驶</span>还可以搜寻附近的泊车地点，当探测到空闲车位后发出提醒，并根据驾驶员的指令自行泊入平行车位
						</p>
					</div>
					<p>
						<strong>StartUp, Inc.</strong>
					</p>
					<p>
						ShangHai 1988
					</p>
				</div>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>
